* {
  margin: 0px;
}

@media only screen and (min-width:650px) and (max-width:1000px){
  /* NAVIGATION */
  /* center the navigation options */
  .top-nav ul {
    text-align: center;
  }

  /* change display & the top border */
  .top-nav ul li {
    display: inline-block;
    border-top: 1.5px solid red;
  }
}

@media only screen and (min-width:1000px){

}
