/* GENERAL APPEARANCE */
html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 28px;
	margin-top: 50px ;
	margin-bottom: 10px ;
	text-align: center;
	font-family: Georgia;
  font-weight: bold;
}

body {
	background: #eeeeee;
	color: #111111;
	font-family: "Times New Roman", Times, serif;
	padding: 5%;
	font-size: 18px;
}

fieldset{
	background-color:#ffffff;
	padding:5%;
  margin: 20px;
}

form-group{
	margin: 10px;
}

legend {
	font-size: 24px;
	margin-top: 20px ;
	margin-bottom: 20px ;
	text-align: center;
	border: none;
	font-weight: bold;
}

label{
	display: inline-block;
	padding: .5%;
	font-weight: normal;
}

input{
	display: inline-block;
	padding: .5%;
}

input textarea select{
	padding: .5%;
}
