* {
  margin: 0;
}

header {
  background-color: #F8FAFA;
  text-align: center;
}

.navbar-brand {
  font-family: 'Abril Fatface' !important;
}

.header-img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

h2, h3 {
  font-family: 'Abril Fatface' !important;
  color: #e53238 !important;
  margin: 30px auto 15px auto !important;
  text-align: center;
}

/* navigation */
.nav-link .active {
  border-bottom: solid 2px #000000;
  display: inline;
  padding-bottom: 3px;
}

/* quotes */
.card {
  margin: auto 10%;
  border-radius: 30px;
}

.blockquote {
  font-style: italic;
}

.blockquote-footer {
  font-style: normal;
}


/* footer */
.footer-box {
  margin-top: 50px;
  min-height: 300px;
  max-height: 350px;
  background-image: url(https://i.imgur.com/Qe59OeL.jpg);
  background-size: 100%;
}

.footer-content-box {
  display: inline-block;
  padding: 30px 50px;
  color: white;
  background-color: grey;
  opacity: 0.9;
  margin: 50px auto 50px auto;
}

.sm-icon {
  list-style: none;
  display: inline-block;
  padding: 25px;
}

footer a {
  text-decoration: none;
  background-color: none;
  color: black;
}

footer a:hover {
  text-decoration: none;
  background-color: none;
  color: white;
}

.footer-heading {
  font-family: 'Bitter';
  font-size: 20px;
  color: black;
  text-align: center;
}

.sub-section {
}

.top-album {
  max-width: 300px;
  max-width: 300px;
}

/* media query */
@media only screen and (max-width:650px){
  p {
    font-size: 14px;
  }
}

@media only screen and (min-width:650px) and (max-width:1000px){
  p {
    font-size: 18px;
  }
}

@media only screen and (min-width:1000px){
}
