* {
  margin: 0;
}

/* ===== Header / Footer =====  */
header, footer{
  color: white;
  background-color: black;
  height: 80px;
  margin: 0;
  padding: 0;
}

/* section - common */
section {
  text-align: center;
  margin: 80px 50px;
}

.section-title {
  margin-bottom: 50px;
}

.homepage-button {
  color: white;
  background-color: black;
  padding: 10px 50px;
  margin-top: 20px;
  border-style: none;
}

/* sections */
.albums-box img {
  width: 100%;
  max-width: 500px;
  margin: 0px auto 50px auto;

  padding: 8px;
  border: 1px;
  border-color: #DCDCDC;
  border-style: dotted;
}

.mv-box iframe {
  margin-bottom: 50px;

}
